.clear { clear:both }

.flx-tbl { position:relative }

.flx-tbl,
.flx-rw {
	cursor:pointer;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
}
.flx-rw {
	margin:0 0 1px;
	-webkit-box-align:stretch;
	-moz-box-align:stretch;
	-ms-box-align:stretch;
	-o-box-align:stretch;
	box-align:stretch;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-ms-box-orient:horizontal;
	-o-box-orient:horizontal;
	box-orient:horizontal;
}
.flx-rw.hide { display:none }

.flx-rw-cnt .flx-rw.odd { background-color:rgba(0,0,0,0.04) }
.flx-rw-cnt .flx-rw.even { background-color:rgba(0,0,0,0.08) }

.flx-cl-lf { text-align:left }
.flx-cl-rg,
.flx-cl-rg input { text-align:right }
.flx-cl-ct,
.flx-cl-ct input{ text-align:center }
.flx-cl .sub { display:block; font-size:0.8em }
.flx-cl .sub span { padding:0 8px 0 0 }
.flx-cl.flx-cl-rg .sub span { padding:0 0 0 8px }

.flx-tplf,
.flx-tprg,
.tbl-scrl-hor,
.tbl-scrl-ver { position:absolute; left:0; top:0; overflow:hidden }

.flx-btlf,
.flx-btrg { float:left }

.flx-rw-hdr { font-weight:600; position:absolute; left:0; right:0 }
.flx-rw-hdr .flx-rw { margin:0; background-color:rgba(0,0,0,0.16) }
.flx-rw-hdr .flx-rw .flx-cl { overflow:hidden }
.flx-rw-hdr .flx-rw .sub { display:none }

.flx-rw-hdr .sort { position:absolute; top:12px; right:8px; text-align:left; width:20px; height:20px; text-indent:-9999px; display:block; background:url(sort.png) 0 0; background-size:20px auto }
.flx-rw-hdr .flx-cl-rg .sort { left:8px; right:initial }
.flx-rw-hdr .sort.asc { background-position:0 -20px }
.flx-rw-hdr .sort.desc { background-position:0 -40px }

.flx-rw-hd,
.flx-rw-cnt { background-color:transparent!important }

.flx-cl { position:relative }
.flx-cl .pad { font-size:1.2em; color:#50526C; padding:10px; line-height:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap }
.flx-cl input,
.flx-cl .search { display:block; width:100% }
.flx-cl input {
	border:none; background:none; font-size:1em; margin:-2px 0 0; outline:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}
.flx-cl,
.flx-cl span { cursor:pointer }
.flx-cl input { cursor:text }

.scrollbar { position:absolute }
.vscrollbar { top:8px; bottom:8px; left:initial; right:0; width:8px }
.hscrollbar { top:initial; bottom:0; left:8px; right:8px; height:8px }
.scrollbar .hslider,
.scrollbar .vslider {
	position:absolute; top:0; left:0; background:rgba(0,0,0,0.48); border:1px solid rgba(255,255,255,0.48); opacity:0; cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:all 0.256s cubic-bezier(0, 0, 0.5, 1);
	-moz-transition:all 0.256s cubic-bezier(0, 0, 0.5, 1);
	-ms-transition:all 0.256s cubic-bezier(0, 0, 0.5, 1);
	-o-transition:all 0.256s cubic-bezier(0, 0, 0.5, 1);
	transition:all 0.256s cubic-bezier(0, 0, 0.5, 1);
}
.scrollbar.hover .hslider,
.scrollbar.hover .vslider,
.scrollbar:hover .hslider,
.scrollbar:hover .vslider { opacity:1 }
.scrollbar .hslider { width:0; height:8px }
.scrollbar .vslider { width:8px; height:0 }

